.WeatherText {
  padding: 16px;
  margin: 30px;
}

.WeatherText h1{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #3d352c;
  display: block;
  line-height: 29px;
 
}

.WeatherText li {
  color:#332c29;
  display: block;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
}

.temperature {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

.unit {
  font-size: 15px;

}