

.cloud {
  animation: animate 60s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -5440px;
  }
}
.WeatherText {
  margin: 30px;
}

.WeatherText h1{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #3d352c;
  display: block;
  line-height: 29px;
  text-align: center;
 
}

.WeatherText li {
  color:#332c29;
  display: block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.temperature {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

.unit {
  font-size: 15px;

}